WebServices/SOAP/Day3/Lab1/OUTPUT/DOCUMENT-LIT-WRAP/XSD.xml

<?xml version='1.0' encoding='UTF-8'?>
<!-- Published by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 3.0.0 git-revision#af8101a. -->
<xs:schema xmlns:tns="http://services.web.example.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services.web.example.org/">

    <xs:element name="addEmp" type="tns:addEmp" />

    <xs:element name="addEmpResponse" type="tns:addEmpResponse" />

    <xs:element name="deleteEmp" type="tns:deleteEmp" />

    <xs:element name="deleteEmpResponse" type="tns:deleteEmpResponse" />

    <xs:element name="getEmp" type="tns:getEmp" />

    <xs:element name="getEmpResponse" type="tns:getEmpResponse" />

    <xs:element name="updateEmp" type="tns:updateEmp" />

    <xs:element name="updateEmpResponse" type="tns:updateEmpResponse" />

    <xs:complexType name="updateEmp">
        <xs:sequence>
            <xs:element name="arg0" type="tns:employee" minOccurs="0" />
            <xs:element name="arg1" type="xs:int" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="employee">
        <xs:sequence>
            <xs:element name="email" type="xs:string" minOccurs="0" />
            <xs:element name="firstName" type="xs:string" minOccurs="0" />
            <xs:element name="id" type="xs:int" />
            <xs:element name="lastName" type="xs:string" minOccurs="0" />
            <xs:element name="phone" type="xs:string" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="updateEmpResponse">
        <xs:sequence>
            <xs:element name="return" type="tns:employee" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="getEmp">
        <xs:sequence>
            <xs:element name="arg0" type="xs:int" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="getEmpResponse">
        <xs:sequence>
            <xs:element name="return" type="tns:employee" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="addEmp">
        <xs:sequence>
            <xs:element name="arg0" type="tns:employee" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="addEmpResponse">
        <xs:sequence>
            <xs:element name="return" type="tns:employee" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="deleteEmp">
        <xs:sequence>
            <xs:element name="arg0" type="xs:int" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="deleteEmpResponse">
        <xs:sequence>
            <xs:element name="return" type="tns:employee" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>