WebServices/SOAP/Day3/Lab1/OUTPUT/RPC-LIT-WRAP/WSDL.xml

<?xml version='1.0' encoding='UTF-8'?>
<!-- Published by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 3.0.0 git-revision#af8101a. -->
<!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 3.0.0 git-revision#af8101a. -->
<definitions xmlns:tns="http://services.web.example.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.web.example.org/">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://services.web.example.org/" schemaLocation="http://localhost:9191/SOAPDay3Lab1/ws/employee?xsd=1" />
        </xsd:schema>
    </types>
    <message name="addEmp">
        <part name="arg0" type="tns:employee" />
    </message>
    <message name="addEmpResponse">
        <part name="return" type="tns:employee" />
    </message>
    <message name="deleteEmp">
        <part name="arg0" type="xsd:int" />
    </message>
    <message name="deleteEmpResponse">
        <part name="return" type="tns:employee" />
    </message>
    <message name="getEmp">
        <part name="arg0" type="xsd:int" />
    </message>
    <message name="getEmpResponse">
        <part name="return" type="tns:employee" />
    </message>
    <message name="updateEmp">
        <part name="arg0" type="tns:employee" />
        <part name="arg1" type="xsd:int" />
    </message>
    <message name="updateEmpResponse">
        <part name="return" type="tns:employee" />
    </message>
    <portType name="EmployeeService">
        <operation name="addEmp">
            <input xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata" ns1:Action="http://services.web.example.org/EmployeeService/addEmpRequest" message="tns:addEmp" />
            <output xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata" ns2:Action="http://services.web.example.org/EmployeeService/addEmpResponse" message="tns:addEmpResponse" />
        </operation>
        <operation name="deleteEmp">
            <input xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata" ns3:Action="http://services.web.example.org/EmployeeService/deleteEmpRequest" message="tns:deleteEmp" />
            <output xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata" ns4:Action="http://services.web.example.org/EmployeeService/deleteEmpResponse" message="tns:deleteEmpResponse" />
        </operation>
        <operation name="getEmp">
            <input xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata" ns5:Action="http://services.web.example.org/EmployeeService/getEmpRequest" message="tns:getEmp" />
            <output xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata" ns6:Action="http://services.web.example.org/EmployeeService/getEmpResponse" message="tns:getEmpResponse" />
        </operation>
        <operation name="updateEmp" parameterOrder="arg0 arg1">
            <input xmlns:ns7="http://www.w3.org/2007/05/addressing/metadata" ns7:Action="http://services.web.example.org/EmployeeService/updateEmpRequest" message="tns:updateEmp" />
            <output xmlns:ns8="http://www.w3.org/2007/05/addressing/metadata" ns8:Action="http://services.web.example.org/EmployeeService/updateEmpResponse" message="tns:updateEmpResponse" />
        </operation>
    </portType>
</definitions>