WebServices/SOAP/Day3/Lab1/OUTPUT/RPC-LIT-WRAP/XSD.xml

<?xml version='1.0' encoding='UTF-8'?>
<!-- Published by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 3.0.0 git-revision#af8101a. -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services.web.example.org/">

    <xs:complexType name="employee">
        <xs:sequence>
            <xs:element name="email" type="xs:string" minOccurs="0" />
            <xs:element name="firstName" type="xs:string" minOccurs="0" />
            <xs:element name="id" type="xs:int" />
            <xs:element name="lastName" type="xs:string" minOccurs="0" />
            <xs:element name="phone" type="xs:string" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>