WebServices/SOAP/Day3/Lab1/OUTPUT/DOCUMENT-LIT-BARE/WSDL.xml

<?xml version='1.0' encoding='UTF-8'?>
<!-- Published by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 3.0.0 git-revision#af8101a. -->
<!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 3.0.0 git-revision#af8101a. -->
<definitions xmlns:tns="http://services.web.example.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.web.example.org/">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://services.web.example.org/" schemaLocation="http://localhost:9191/SOAPDay3Lab1/ws/employee?xsd=1" />
        </xsd:schema>
    </types>
    <message name="addEmp">
        <part name="name of Part As No WebParam.partName specified" type="tns:employee" />
    </message>
    <message name="addEmpResponse">
        <part name="return" type="tns:employee" />
    </message>
    <message name="deleteEmp">
        <part name="part name is specified: delete emp" type="xsd:int" />
    </message>
    <message name="deleteEmpResponse">
        <part name="is specified so the WebResult is ignored" type="tns:employee" />
    </message>
    <message name="getEmp">
        <part name="arg0" type="xsd:int" />
    </message>
    <message name="getEmpResponse">
        <part name="return" type="tns:employee" />
    </message>
    <portType name="EmpServicePortType">
        <operation name="addEmp">
            <input xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata" ns1:Action="http://services.web.example.org/EmpServicePortType/addEmpRequest" message="tns:addEmp" />
            <output xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata" ns2:Action="http://services.web.example.org/EmpServicePortType/addEmpResponse" message="tns:addEmpResponse" />
        </operation>
        <operation name="deleteEmp">
            <input xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata" ns3:Action="http://services.web.example.org/EmpServicePortType/deleteEmpRequest" message="tns:deleteEmp" />
            <output xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata" ns4:Action="http://services.web.example.org/EmpServicePortType/deleteEmpResponse" message="tns:deleteEmpResponse" />
        </operation>
        <operation name="getEmp">
            <input xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata" ns5:Action="http://services.web.example.org/EmpServicePortType/getEmpRequest" message="tns:getEmp" />
            <output xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata" ns6:Action="http://services.web.example.org/EmpServicePortType/getEmpResponse" message="tns:getEmpResponse" />
        </operation>
    </portType>
</definitions>